*{
    margin: 0;
    padding: 0;
}

.top-bar{
    background-color: #000000;
    color: #F2F0F1;
    text-align: center;
}
.container{
    background-color: white;
}

.logo{
  margin-left: 18px;
  margin-top: 30px;
   width: 150px;

}

.nav-bar{
    display: flex;
    flex-direction: row;
}

.text{
    margin-left:250px;
    margin-top: 30px;

}

ul{
display:flex ;
list-style: none;
gap: 100px;
}

a{
    text-decoration: none;
    color: black;
}

.search{
    margin-top: 20px;
    margin-left: 200px; 
    margin-bottom: 20px;
}
input{
    width: 200px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
}


.text-1{
    font-size: 60px;
    font-weight: 700;
}

.text-2{
    font-weight: 400;
    margin-top: 10px;
}

.item-box2{
    margin-top: 10px;
    padding-top: 50px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    background-color: #F2F0F1; 
}

.btn button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
     margin-top: 30px;
}

.Vector-1 img{
    position: absolute;
    height: 80px;
    top: 56%;
    left: 40%;
}

.item-box3{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-around;
    padding: 20px;

}

.item-box4{
    font-weight: 800;
    font-size: 50px;
    margin-left: 40%;
}

.item-box5{
    display: flex;
    justify-content: space-around;
}

.item-box6{
    display: flex;
    justify-content: space-around;
}

.item-box7 button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 45%;
}

.item-box8{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.item-box9{
    display: flex;
    justify-content: space-around;
}

.item-box10 button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 45%;
}

.appearal{
background-color: #F0F0F0;
margin: 30px;
border-radius: 20px;
}

.appearal-1{
    display:flex ;
    justify-content: center;
    gap: 10px;
}

.appearal-2{
display: flex;
margin-top: 20px;
justify-content: center;
gap: 10px;
}

.appear-100{
    background-image: url(./Assets/images/casual.png);
    height: 200px;
    width: 350px;
    border-radius: 20px;
    font-size: 30px;
    
}

.appear-101{
    background-image: url(./Assets/images/formal.png);
     height: 200px;
     width: 550px;
       border-radius: 20px;
        font-size: 30px;
       

}


.appear-102{
    background-image: url(./Assets/images/party.png);
     height: 200px;
    width: 550px;
      border-radius: 20px;
       font-size: 30px;
}

.appear-103{
    background-image: url(./Assets/images/gym.png);
     height: 200px;
    width: 350px;
      border-radius: 20px;
       font-size: 30px;
}


/* .footer{
    background-color: gray;
    width: 1000%;
    height: 200px;
} */


.footer-bar{
    background-color:#000000;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    margin: 50px;
    padding: 20px;
}

.bar-text{
    font-size: 30px;
    font-weight: 600;
    color: #F0F0F0;
    padding-top: 10px;
    
}

.bar-inputs button{
    background-color: #F0F0F0;
    border-radius: 20px;
    border-style: none;
    padding: 20px;
    margin-top: 10px;
}

.input-email input{
    border-radius: 20px;
    height: 10px;
}

.icons-footer{
    display: flex;
    gap: 10px;
    margin-left: 80px;
}

.link-footer{
    margin-left: 80px;
}

.list-section{
    display: flex;
    gap: 140px;
    margin-left: 10px;
}
.section{
    display: flex;
    gap: 50px;
}

/* @media screen and (min-width:375px) {

    
.container{
    background-color: white;
}

.logo{
  margin-left: 1.8px;
  margin-top: 0.3px;
   width: 20px;

}

.nav-bar{
    display: flex;
    flex-direction: row;
}

.text{
    margin-left:10px;
    margin-top: 0.3px;

}

ul{
display:flex ;
list-style: none;
gap: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.search{
    margin-top: 2px;
    margin-left: 100px; 
    margin-bottom: 2px;
}
input{
    width: 20px;
    height: 3px;
    padding: 1px;
    font-size: 12px;
}


.text-1{
    font-size: 30px;
    font-weight: 700;
}

.text-2{
    font-weight: 400;
    margin-top: 1px;
}

.item-box2{
    margin-top: 1px;
    padding-top: 5px;
    padding-left: 2.5px;
    display: flex;
    flex-direction: row;
    background-color: #F2F0F1; 
}

.img-2{
    position: sticky;
    top: 10px;
}

button{
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 1px;
     margin-top: 3px;
}

.Vector-1{
    position: absolute;
    top: 56%;
    left: 40%;
}

.item-box3{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-around;
    padding: 2px;

}
} */


@media (max-width: 375px) {
    
    
    .container {
        padding: 0;
    }

    .top-bar {
        font-size: 10px;
    
    }

    .nav-bar {
        flex-direction: row;
    }

    .logo {
        width: 80px;
        position: relative;
        bottom: 10px;
    }

    .text {
        margin: 10px 0; 
    }

    ul {
        flex-direction: row;
        gap: 10px;
        font-size: 10px;
    }
    
    .search {

        margin: 10px;
    }

    input {
        width: 90%; 
        max-width: 250px; 
        height: 20px; 
        font-size: 14px; 
        padding: 5px 10px;
    }
    
    
    .item-box2 {
        flex-direction: column;
        padding: 20px 0; 
        align-items: center;
    }
    
    .img-2 img {
        width: 100%;
        max-width: 300px;
        margin: 20px 0 !important; 
        height: auto;
    }

    .text-1 {
        font-size: 36px; 
        text-align: center;
        line-height: 1.1;
    }

    .text-2 {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
    
    .btn button {
        display: block;
        margin: 20px auto 0; 
    }
    
    .Vector-1 img {
        display: none; 
    }
    
    .item-box3,
    .item-box5,
    .item-box6,
    .item-box8,
    .item-box9 {
        flex-direction: column;
        gap: 20px; 
        padding: 10px 0; 
        align-items: center;
    }

    .item-box5 img,
    .item-box8 img {
        width: 90%;
        max-width: 250px;
        height: auto;
    }

    .item-box4 {
        font-size: 30px; 
        margin-left: 0;
        text-align: center;
        padding: 20px 0;
    }
    
    .item-box7 button,
    .item-box10 button {
        margin: 30px auto;
        display: block;
    }


    .appearal {
        margin: 10px; 
        padding: 10px 5px;
    }
    
    .appearal > div:first-child {
        font-size: 28px !important; 
        padding-left: 0 !important;
    }

 .appear-101,.appear-102,.appear-103,.appear-100{
        font-size: 15px;
        padding-top: 10px;
        padding-left: 20px;
    }

.appear-100 {
background-image: url(./Assets/images/casual.png);
}

.footer-bar{
    margin-left: 5px;
    width: 260px;
}
.footer-bar>.bar-text{font-size: 18px;
margin-right: 20px;
}

.link-footer,.icons-footer{
    font-size: 10px;
    margin-left: 0;
}

}